@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap");

body {
  background-color: lightblue;
}

* {
  font-family: "Montserrat", sans-serif;
}

.return-button {
  padding: 0;
  margin-left: 10px;
  list-style: none;
}
